* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.nav {}

.nav>.navbar {
    display: flex;
    position: fixed;
    background-color: rgba(50, 55, 63, 0.5);
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    z-index: 0;
}

.nav>.navbar>div {
    display: inline-block;
    display: flex;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    height: 80px;
}

.navbarhover:hover {
    background-color: rgba(51, 51, 51, 0.466);
}

.menu:hover .menunavbar {
    display: block;
}

.list {
    display: none;
    position: absolute;
    top: 80px;
}

.contact:hover .contactnavbar {
    display: block;
}

.list>div {
    background-color: #333;
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgba(34, 32, 32, 0.336);
}

.list>div:hover {
    text-decoration: underline;
}

.nav>.navbar>.navbarlogo>a>img {
    display: flex;
    width: 60px;
    border-radius: 50%;
}

a {
    text-decoration-line: none;
    color: rgba(209, 180, 74, 1);
}

.bg {
    width: 100%;
    display: flex;
}

.menu_contain {
    display: flex;
    background-color: #cfd2d7;
    padding-top: 50px;
}

.menu_list {
    width: 30%;
    border-right: 1px solid rgba(51, 51, 51, 0.39);
    color: #333;
    top: 50px;
}

.menu_list ul {
    list-style-type: circle;
}

.menu_list li {
    padding: 5px;
}

.menu_list li:hover {
    padding: 5px;
    font-weight: bolder;
}

.menu_box {
    width: 70%;
}

.menu_box h1 {
    margin-top: 100px;
    margin-bottom: 50px;
    color: #333;
    text-align: center;
    font-style: oblique;
    text-decoration: underline #333;
}

.menu_box h2 {
    color: #333;
}

.menu_box h3 {
    color: #333;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.set {
    display: inline-block;
    width: 300px;
    margin: 5px;
    margin-bottom: 20px;
}

.menu_box img {
    width: 100%;
}

.img_item img {
    border-radius: 20px;
    border: 2px solid white;
    width: 300px;
}

.footer {
    background-color: #9e5616c0;
    height: 170px;
    display: flex;
    color: #333;
    font-weight: 600;
}

.ft_cn {
    width: 50%;
    display: inline-block;
    text-align: center;
    padding-top: 50px;
}

.ft_ct {
    width: 50%;
    display: inline-block;
    text-align: center;
    padding-top: 50px;
}

.ft_cn>.flex {
    display: inline-block;
    padding: 20px;
}

.ft_cn>.flex>.position {
    position: absolute;
}

.ft_cn>.flex>.position>img:hover {
    position: absolute;
    /* top: -3px; */
    width: 20px;
    transition: 0.7s;
}