*{
    margin: 0;
    color: black;
}

.navbar{
    display: flex;
    align-items: stretch;
    height: 100px;
    padding: 20px;
    font-size: 25px;
    color: black;
    position: fixed;
    width: 100%;
    z-index: 1;
    position: relative;
    
}
.sub_navbar{
    position: absolute;
    list-style: none;
    text-align: center;
    width: 100px;
    text-decoration: none;
    margin-top: 50px;
    display: none;
    top: 0px;
}

.sub_navbar a{
    font-size: 15px;
    text-decoration: none;
}
.navbar_ul1 .menu_link:hover .sub_navbar{
    display: block;
}

.navbar_ul1 li:hover{
    text-decoration: underline;
    color: black;
    scale: (1,1);
}

.navbar_ul1{
    display: flex;
    list-style : none;
    flex-grow: 1;
    justify-content: end;
    text-align: center;
    padding-left: 0px; 
    position: relative;
}

.navbar_ul2{
    display: flex;
    list-style : none;
    flex-grow: 1;
    justify-content: end;
    text-align: center;
    padding-right: 30px;
    position: relative;
}

.navbar_home{
    flex-grow: 7;
    text-align: center;
    font-size: 35px;
    position: relative;
}
.navbar_home a{
    font-size: 35px;
}

.ah {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    font-size: 17px;
}

.ah:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
.ah:hover:after { 
    width: 100%; 
    left: 0; 
  }
.main{
    position: relative;
}
.vid_main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.vid_main video{
    width: 960px;
    height: 540px;
}
.pic_main{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.pic_main img{
    width: 281.53px;
    height: 412px;
}