*{
    margin: 0;
    color: black;
}

.navbar{
    display: flex;
    align-items: stretch;
    height: 100px;
    padding: 20px;
    font-size: 25px;
    color: black;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.sub_navbar{
    position: absolute;
    list-style: none;
    text-align: center;
    width: 100px;
    text-decoration: none;
    margin-top: 50px;
    display: none;
    top: 20px;
}

.sub_navbar a{
    font-size: 15px;
    text-decoration: none;
}
.navbar_ul1 .menu_link:hover .sub_navbar{
    display: block;
}
.navbar_ul1 li:hover{
    text-decoration: underline;
    color: black;
    scale: (1,1);
}

.navbar_ul1{
    display: flex;
    list-style : none;
    flex-grow: 1;
    justify-content: end;
    text-align: center;
    padding-left: 0px; 
}

.navbar_ul2{
    display: flex;
    list-style : none;
    flex-grow: 1;
    justify-content: end;
    text-align: center;
    padding-right: 30px;
}

.navbar_home{
    flex-grow: 7;
    text-align: center;
    font-size: 35px;
}
.navbar_home a{
    font-size: 35px;
}

.ah {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    font-size: 17px;
}

.ah:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
.ah:hover:after { 
    width: 100%; 
    left: 0; 
  }

.storestl{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 200px;
    gap: 200px;
}
.stl{
    font-size: 15px;
    color: black;
    padding-top: 30px;
    position: relative;
}
.name {
    margin-bottom: 20px;
}
.price {
    margin-bottom: 20px;
}
.div_info{
    position: sticky;
    position: -webkit-sticky;
    top : 100px;
    padding-right: 300px;
    margin-top: 250px;
}
.img_store1{
    width: 400px;
    height: 500px;
    margin-bottom: 50px;
}

.img_divB{
    display: block;
    margin-left: 50px;
}
.select_size{
    border: 1px solid black;
    padding: 5px;
    color: rgb(88, 88, 88);
    margin-top: 10px;
}
.button_buy{
    padding: 10px;
    border: 1px solid black;
    color: rgb(88, 88, 88);
    margin-top: 10px;
}
.button_buy:hover{
    transform: 0.5s;
    background-color: grey;
    color: black;
}
.select_sb{
    display : flex;
    gap : 30px;
}
.mater{
    margin-top: 20px;
}

.mySlides1{
    width: 400px;
    height: 554px;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin-bottom: 50px;
    margin-top: 200px;
    width: 400px;
    height: 554px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: #f1f1f1;
    color: black;
}


